*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}




/*CSS MAIN*/

.logo{
    width: 100%;
    padding: 1rem .4rem 1rem .7rem;
}

.app-name{
    display:none;
    margin:0;
}

.fa-house,
.fa-magnifying-glass,
.fa-bars,
.fa-circle-arrow-down,
.fa-user,
.fa-square-plus{
    font-size:20px;
}

.fa-circle-arrow-down{
    padding:18rem .3rem 0;
}

.fa-user{
    padding: 0 .3rem;
}

.simboli{
    padding:.3rem 1.2rem;
}
.task{
    display:none;
}

.fa-square-plus{
   color: #7B7D81;
}

.text-size{
    margin-left: .3rem;
    margin-top: .1rem;
}






button{
    color:white;
    border:1px solid white;
    border-radius: 2rem;
    padding:.5rem 2rem;
    background-color: #090B13;
}

.flex{
    display:flex;
}
.flex-end{
    display:flex;
    justify-content: flex-end;
}
.container-header{
    width:  60px;
    height:700px;
    background-color: #000000 ;
    /*border: solid 2px black;*/
}

.container-main{
    width: calc(100vw - 60px);
    height:700px;
    /*border: solid 2px violet;*/
    overflow-y: scroll;
    background-color: #141922;
}

.call-to-action{
    /*height: 70px;*/
   /* border:2px solid orangered;*/
    background-color: #090B13;
    padding:1rem 1rem;
}

ul{
    list-style:none;
}

.flex-center{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}
.flex-w{
    flex-wrap:wrap;
}

li{
    padding:1rem;
    width: calc(100% / 4);
    font-size:12px;
    text-transform: uppercase;
    color:#7B7D81;
}

.card{
    /*height:100px;*/
    /*border:solid 2px hotpink;*/
    width: calc(100% / 2 - 2rem);
    margin:1rem 1rem;
}

h1{
    margin-top: 2rem;
    padding-left: 1rem;
    color:white;
}

h2{
    color:white;
    font-size:20px;
}

.padding-title{
    margin-top:1rem;
    padding: 0 1.1rem;
}

p{
    padding-left:1rem;
    font-size:10px;
    color:white;
}

.circle{
    border-radius:50%;
    height: 150px;
    width:150px;
    /*border:2px solid navy;*/
    margin-top:1rem;
    margin-left:1rem;
}

img{
    width: 100%;
}

.text-grey{
    color:#7B7D81;
    padding:0;
}

.text-center{
    text-align: center;
}

.image{
    border-radius: 100%;
}



.card:hover{
}








/*CSS FOOTER*/

footer{
    position: fixed;
}

.song-bar{
    height: 80px;
    width: 100vw;
    /*border:2px solid brown*/
    background-color: #282828;
}






@media screen and (min-width:576px){
    .container-header{
        width:250px;
        height:700px;
        /*border: solid 2px black;*/
    }
    .container-main{
        width: 85%;
        /*height:700px;*/
        /*border: solid 2px violet;*/
    
    }
    li{
        width: calc(100% / 3);
    }
    .main-nav-bar{
        padding:0 2rem;
    }
    .logo{
        width: 60px;
    }
    .app-name{
        display:block;
        padding-top:1.3rem;
    }

    .task{
        display:block;
        padding:.2rem 0 0 .5rem;
        text-transform: none;
    }
    .playlist{
        padding:0;
        text-transform: none;
    }
}


@media screen and (min-width:768px){
    .card{
        width: calc(100% / 4 - 2rem);
    }

    li{
        width: calc(100% / 5);
    }
    .logo{
        width: 60px;
    }

}
    




@media screen and (min-width:992px){

    .container-header{
        
        height:700px;
        /*border: solid 2px black;*/
    }
    
    .container-main{
        
        /*height:700px;*/
        /*border: solid 2px violet;*/
    
    }
    .card{
        width: calc(100% / 6 - 2rem);
    }
    li{
        width: calc(100% / 6);
    }

    .main-nav-bar{
        width: 70%;
        margin:0 auto;
    }


}