*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


/*CSS HEADER*/

header{
    display:flex;
}

.container-header{
    height:700px;
    width: 70px;
    border:solid red 2px;
}

.flex-column{
    display:flex;
    flex-direction: column;
}
.call-to-action{
    border: 2px solid blueviolet;
    height: 60px;
    width: calc(100vw - 70px);
}

/*CSS MAIN*/

main{
    position:relative;
}

.container-main{
    max-width: calc(100vw - 70px);
    border:solid 2px black;
    height:640px;
    position: absolute;
    bottom:0;
    left:70px;
    overflow-y: scroll;
}














/*CSS FOOTER*/

footer{
    position: fixed;
}

.song-bar{
    height: 100px;
    width: 100vw;
    border:2px solid brown;
}






@media screen and (min-width:576px){
    .call-to-action{
        width: calc(100vw - 150px);
    }

    .container-header{
        width: 150px;
    }

    .container-main{
        left:150px;
    }
}